services:
  api:
    build:
      dockerfile: Dockerfile
      target: final
    ports:
      - "5075:8080"
  database:
    image: "postgres:latest"
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: default_database
    volumes:
      - ${PWD}/db-data/:/var/lib/postgresql/data/